body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    padding: 0;
    margin: auto;
    zoom: 100%;
}

#nav-container {
    margin-bottom: 1em;
}

#nav-container > .row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#nav-container .btn-group {
    width: 100%;
}

#subnav-container > .row {
    padding-top: 1.5em;
}

h1.heading {
    text-align: center;
    margin: 1em 0 1em 0;
}

.text-center {
    text-align: center;
}

h6.heading {
    font-size: 10px;
}

img.profile {
    display: block;
    margin: auto;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 1.25rem;
    left: 3rem;
}

.candidate-name {
    position: absolute;
    font-size: 1.2em;
}

#election-results-bar {
    border-radius: 0.4rem;
    background-color: white;
    width: 100%;
    height: 2.3rem;
}

.election-results-bar-vote-counter {
    top: 64%;
    position: absolute;
    z-index: 1;
    color: white;
}

.democrat {
    color: rgb(26, 106, 255);
}

.republican {
    color: rgb(255, 74, 67);
}

.democrat-f {
    fill: rgb(26, 106, 255);
}

.republican-f {
    fill: rgb(255, 74, 67);
}

.democrat-b {
    background-color: rgb(26, 106, 255);
}

.republican-b {
    background-color: rgb(255, 74, 67);
}

.teal {
    color: #17a2b8;
}

.green {
    color: #28a745;
}

.text-center > h2 {
    position:absolute;
    top:40%
}

.election-results-indicator {
    text-align: center;
    margin-top: 0.5em;
}

#election-results-win-indicator {
    left: 50%;
    height: 2.3rem;
    width: 2px;
    position: absolute;
    background: black;
    z-index: 1;
}

#election-results-bar::before {
    content: "";
    height: 2.3rem;
    background-color: rgb(26, 106, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#election-results-bar.e-2020::before {
    width: 57%
}

#election-results-bar.e-2016::before {
    width: 43%
}

#election-results-bar.e-2012::before {
    width: 62%
}

#election-results-bar::after {
    content: "";
    height: 2.3rem;
    background-color: rgb(255, 74, 67);
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#election-results-bar.e-2020::after {
    width: 43%
}

#election-results-bar.e-2016::after {
    width: 57%
}

#election-results-bar.e-2012::after {
    width: 38%
}

#container {
    width: 100%;
    height: 500px;
    margin: auto;
}

#map {
    width: 100%;
    height: 100%;
}
#legend {
    width: 100%;
    margin-top: 1em;
}

path.state {
    stroke: #555;
    stroke-width: 1.5;
}

.hidden {
    display: none !important;
}

#tooltip {
    width: 16em;
    position: absolute;
    border-radius: 8px;
    background-color: #555;
    color: white;
    display: inline-block;
    padding: .5em;
}

#tooltip .tooltip-party-indicator {
    position: absolute;
    border-radius: 100000em;
    top: 0.3em;
    right: 0.3em;
    width: 10px;
    height: 10px;
}

.modal-body-heading {
    margin-top: 0.5em;
}

.zoom {
    position: absolute !important;
    top: 33vw;
    right: 4vw;
}

.fade-in {
    animation: fadeIn ease 0.75s;
    -webkit-animation: fadeIn ease 0.75s;
    -moz-animation: fadeIn ease 0.75s;
    -o-animation: fadeIn ease 0.75s;
    -ms-animation: fadeIn ease 0.75s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}