body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    padding: 0;
    margin: auto;
}

#nav-container {
    margin-bottom: 1em;
}

#nav-container > .row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#nav-container .btn-group {
    width: 100%;
}

#subnav-container > .row {
    padding-top: 1.5em;
}

h1.heading {
    text-align: center;
    margin: 1em 0 1em 0;
}

.text-center {
    text-align: center;
}

img.profile {
    display: block;
    margin: auto;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 1.25rem;
    left: 3rem;
}

.candidate-name {
    position: absolute;
    font-size: 1.2em;
}

.election-results-bar {
    border-radius: 0.4rem;
    background-color: white;
    width: 100%;
    height: 2.3rem;
}

.democrat {
    color: rgb(26, 106, 255);
}

.republican {
    color: rgb(255, 74, 67);
}

.democrat-f {
    fill: rgb(26, 106, 255);
}

.republican-f {
    fill: rgb(255, 74, 67);
}

.teal {
    color: #17a2b8;
}

.green {
    color: #28a745;
}

.text-center > h2 {
    position:absolute;
    top:40%
}

.election-results-indicator {
    text-align: center;
    margin-top: 0.5em;
}

.election-results-win-indicator {
    left: 50%;
    height: 2.3rem;
    width: 2px;
    position: absolute;
    background: black;
}

.election-results-bar::before {
    content: "";
    width: 56%;
    height: 2.3rem;
    background-color: rgb(26, 106, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
}

.election-results-bar::after {
    content: "";
    width: 44%;
    height: 2.3rem;
    background-color: rgb(255, 74, 67);
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

#container {
    width: 100%;
    height: 500px;
    margin: auto;
}

#map {
    width: 100%;
    height: 100%;
}

#layer {
    transform: scale(0.94);
}

path.state {
    stroke: #555;
    stroke-width: 1.5;
}

.hidden {
    display: none !important;
}

#tooltip {
    position: absolute;
    border-radius: 8px;
    background-color: #555;
    color: white;
    display: inline-block;
    padding: .5em;
}