<strong><span data-content="stateName"></span></strong>
<br>
<span>Population: <span data-content="population"></span></span>
<br>
<span><span style="color: rgb(253,231,214);">White</span> Percentage: <span data-content="whitePercentage"></span></span>
<br>
<span><span style="color: rgb(59,45,52);">Black</span> Percentage: <span data-content="blackPercentage"></span></span>
<br>
<span><span style="color: rgb(245,211,101);">Asian</span> Percentage: <span data-content="asianPercentage"></span></span>
<br>
<span><span style="color: rgb(149,91,69);">Hispanic</span> Percentage: <span data-content="hispanicPercentage"></span></span>
<br>
<span><span style="color: rgb(134,49,45);">Native</span> Percentage: <span data-content="nativePercentage"></span></span>

<span data-class="partyIndicatorClass"></span>