<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" data-content="stateName"></h5>
            <button type="button" class="close" onclick="hideStatePopup()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-4">
                    <img data-src="flagImg" style="width: 100%; margin: auto; display: block;">

                    <svg id="stateMap" style="width: 100%; height: 15em; margin-top: 1em;"></svg>
                </div>

                <div class="col-4">
                    <h5 class="modal-body-heading">General</h5>
                    <span>Population: <span data-content="population"></span></span>
                    <br>
                    <span>Electoral Votes: <span data-content="electoralVotes"></span></span>

                    <h5 class="modal-body-heading">Social Class</h5>
                    <span>Social Class Score: <span data-content="socialClassScore"></span></span>
                    <br>
                    <span>Social Class Impact: <span data-content="socialClassImpact"></span></span>

                    <h5 class="modal-body-heading">Sex</h5>
                    <span><span style="color: rgb(255,182,193);">Women</span> Percentage: <span data-content="womenPercentage"></span></span>
                    <br>
                    <span><span style="color: rgb(135,206,250);">Men</span> Percentage: <span data-content="menPercentage"></span></span>
                </div>

                <div class="col-4">
                    <h5 class="modal-body-heading">Race</h5>
                    <span><span style="color: rgb(253,231,214);">White</span> Percentage: <span data-content="whitePercentage"></span></span>
                    <br>
                    <span><span style="color: rgb(59,45,52);">Black</span> Percentage: <span data-content="blackPercentage"></span></span>
                    <br>
                    <span><span style="color: rgb(245,211,101);">Asian</span> Percentage: <span data-content="asianPercentage"></span></span>
                    <br>
                    <span><span style="color: rgb(149,91,69);">Hispanic</span> Percentage: <span data-content="hispanicPercentage"></span></span>
                    <br>
                    <span><span style="color: rgb(134,49,45);">Native</span> Percentage: <span data-content="nativePercentage"></span></span>
                </div>
            </div>
        </div>
    </div>
</div>