<div class="fade-in">
    <p>
        The United States Electoral College is the group of presidential electors required by the Constitution to form every
        four years for the sole purpose of electing the president and vice president. Each state appoints electors according
        to its legislature, equal in number to its congressional delegation (senators and representatives).
    </p>

    <p>
        Each state gets as many electors as it has members of Congress (House and Senate). Including Washington, D.C.’s three electors, there are currently 538 electors in all. See the distribution of electors by state.
        Each state’s political parties choose their own slate of potential electors. Who is chosen to be an elector, how, and when varies by state.


    </p>

    <p>
        The cartogram is scaled according to the number of electoral college votes per state.
    </p>

    Sources:
    <ul>
        <li><a href="https://www.usa.gov/election" target="_blank">USA GOV</a></li>
    </ul>

</div>
