<div class="fade-in">
    <p>
        The United States Electoral College is the group of presidential electors required by the Constitution to form every
        four years for the sole purpose of electing the president and vice president. Each state appoints electors according
        to its legislature, equal in number to its congressional delegation (senators and representatives).
    </p>

    <p>
        Hover over each state and see details such as the number of electoral votes or the population.
    </p>
</div>