<div class="fade-in">
    <p>
        The 2020 presidential campaign was distinctive in the number of women who ran for office. Six women in total the
        most women ever in the history of elections—ran for President in the Democratic primary.
        The unprecedented number of women presidential candidates in 2020 opened up public discourse and heightened
        awareness about how women are perceived, treated and scrutinized as viable candidates. The election provides an
        opportunity to explore and understand how sexism has manifested in presidential elections.

    </p>

    <p>
        When studying the distribution of the gender of the voters across states, the results seem to follow a normal
        distribution. We can however notice that the coastal states usually register a majority of women voters and the
        same states tend to be won by the democrats. On the other hand, the republicans tend to win the majority of the
        states were there are more men than women. Geographically, those states are the less populated ones in the
        north-center of the map.
    </p>

    Sources:
    <ul>
        <li><a href="https://www.adl.org/education/resources/tools-and-strategies/elections-gender-and-bias" target="_blank">ADL</a></li>
    </ul>
</div>