<div class="fade-in">
    <p>
        If we sort Americans by formal educational levels, the partisan gaps are not as great. But if we focus on
        income, class makes more of a difference in how citizens vote now than it did fifty years ago – even with all
        the racial changes America has experienced.

    </p>

    <p>
        At a time when Americans are becoming steadily more
        educated, incomes are not increasing much for most people – and income gaps are growing. High earners look to
        Republicans, while Democrats are, more than ever, the party lower-income Americans want to represent their
        interests.
    </p>

    <p>
        Thus, we took into account a number of factors that contribute in determining the social class, and established
        a formula that allows us to quanitfy this at state level. The factors took into account are the percentage of
        population who has a bachelor and/or highschool degree, the homeowner ship rate, per capita money income in the
        past year, the median household income and median value of owner-occupied housing units. The data gathered was
        registered between 2009 and 2013.
    </p>


    Sources:
    <ul>
        <li><a href="https://scholars.org/contribution/does-class-matter-when-americans-vote" target="_blank">scholars.org</a></li>
    </ul>
</div>