<div class="fade-in">
    <p>
        The demographic composition of an area does not tell the whole story. Patterns in voter registration and voter
        turnout vary widely by race and ethnicity, with White adults historically more likely to be registered to vote
        and to turn out to vote than other racial and ethnic groups. Additionally, every presidential election brings
        its own unique set of circumstances, from the personal characteristics of the candidates, to the economy, to
        historic events such as a global pandemic. Still, understanding the changing racial and ethnic composition in
        key states helps to provide clues for how political winds may shift over time.
    </p>

    <p>
        Black, Hispanic and Asian registered voters historically lean Democratic. The ways in which these demographic
        shifts might shape electoral outcomes are closely linked to the distinct partisan preferences of different
        racial and ethnic groups. Pew Research Center survey data spanning more than two decades shows that the
        Democratic Party maintains a wide and long-standing advantage among Black, Hispanic and Asian American
        registered voters. Among White voters, the partisan balance has been generally stable over the past decade, with
        the Republican Party holding a slight advantage.
    </p>

    Sources:
    <ul>
        <li><a href="https://www.pewresearch.org/2020/09/23/the-changing-racial-and-ethnic-composition-of-the-u-s-electorate/" target="_blank">pewresearch.org</a></li>
    </ul>
</div>