<div class="fade-in">
    <p>
        They say elections are decided by those who show up to vote. Age is one of the strongest long term factors when
        it comes to election results. It appears that the young vote less than the old and that turnout climbs with each
        additional year of life, is one of the most robust findings in political science. <br> <br>
    </p>

    <p>
        There is a link between age and voting behaviour. As people age they are more likely to be at the top of their
        earnings so they are more likely to favour traditional Conservative policies such as lower taxation on higher
        earners, i.e the Republican party. In a 2017 general election in UK, 61% of voters nationally who were aged over
        65-years old voted Conservative. Younger voters may be more concerned with issues such as greater support for
        education or youth unemployment. Those under 35-years of age tend not to vote for the Conservatives.
    </p>

    Sources:
    <ul>
        <li><a href="https://www.bbc.co.uk/bitesize/guides/zd9bd6f/revision/5" target="_blank">BBC</a></li>
        <li><a href="https://medium.com/@PollsAndVotes/age-and-voter-turnout-52962b0884ef" target="_blank">Medium</a></li>
    </ul>
</div>