<div class="fade-in">
    <p>
       In order to determine the accuracy of the hypothesis that one develops based on cartograms,
        there is still a need of a baseline to compare against. Since the president of the United States of America is
        elected based on the number of electoral votes that they gain in each state, we also provide you the regular
        map of results per state which can serve as a reference point for the assumptions drawn from our cartogram
        tooling.
    </p>

</div>