<div class="fade-in">
    <p>
        Obama's success in the rerun at the presidency of the 2012 election is attributed by some sources to his "mad
        skills at digital campaigning and politics". The numbers are supporting this, as he registered at the time 13
        times more likes on Facebook than his opponent Matt Rommney.
        <br> <br>
    </p>

    <p>
        The hypothesis of Obama's success being linked to his superior digital presence can be tested by first measuring
        how wide was the channel that he reached, i.e: how many people had internet access in order to be influenced
        by the digital messages of Obama.
    </p>

    Sources:
    <ul>
        <li><a href="https://www.npr.org/sections/itsallpolitics/2012/06/05/154350165/the-uniqueness-of-the-2012-election?t=1615827468634" target="_blank">NPR</a></li>
    </ul>
</div>