<div class="fade-in">
    <p>
        The Covid-19 pandemic is among the most consequential global events since World War II, affecting virtually
        every country in the world. In the US, the pandemic struck during a presidential election year, shifting the
        political narrative and President Trump’s re-election prospects. Prior to the pandemic, the US economy was
        performing well, and Trump, while extremely polarizing, enjoyed strong support among Republican and many
        independent voters. The virus changed the narrative, and Trump’s response to the crisis was widely criticized.

        <br> <br>
    </p>

    <p>
        Exploring the effect of Covid-19 on election outcomes is challenging, since partisan identities can influence
        behavior in ways that may affect Covid-19 cases as well as support for Trump—as the partisan differences in
        attitudes toward the virus reveal. For instance, it is well known that Trump voters are more likely to have
        downplayed the severity of the pandemic and to have failed to comply with social-distancing and mask-wearing
        suggestions. Indeed, press analyses indicate a positive correlation between Covid-19 cases and Trump’s support.

    </p>

    Sources:
    <ul>
        <li><a href="https://wol.iza.org/opinions/how-was-the-us-presidential-election-affected-by-the-covid-19-pandemic" target="_blank">World of Labour</a></li>
    </ul>
</div>