<div class="fade-in">
    <p>
        Voter turnout is the percentage of eligible voters who cast a ballot in an election. Eligibility varies by
        country, and the voting-eligible population should not be confused with the total adult population.
        Age and citizenship status are often among the criteria used to determine eligibility,
        but some countries further restrict eligibility based on sex, race, or religion. <br> <br>
    </p>

    <p>
        The historical trends in voter turnout in the United States presidential elections have been determined by the
        gradual expansion of voting rights from the initial restriction to white male property owners aged 21 or older
        in the early years of the country's independence, to all citizens aged 18 or older in the mid-20th century.
        Voter turnout in United States presidential elections has historically been higher than the turnout for midterm
        elections.

    </p>

    <p>
        Voter turnout gives us a strong indication about the support shown to the parties received from the people.
        This bit of information is interesting to visualize by comparing it to the percentage registered in previous
        editions.
    </p>

    <p>
        In this manner, we can identify clusters of neighbouring states shifting from the Democrats to the Republicans
        from 2012 and 2016. When we switch to 2020, we notice that mainly the largest cluster, composed of the states
        Wisconsin, Michigan and Pennsylvania, returns to the Democrats and helps them to secure a win which was fought
        harder then the one obtained in 2012 by the Democrats.
    </p>

    <p>
        Finally, we can also see how the majority of states remain stable through these 3 editions of the elections,
        suggesting that shifting people’s political preference takes generally a long time.
    </p>

    Sources:
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Voter_turnout" target="_blank">Wikipedia</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Voter_turnout_in_United_States_presidential_elections" target="_blank">Wikipedia</a></li>
    </ul>
</div>