<div class="fade-in">
    <p>
        Quoting Wikipedia: "Social media played an important role in shaping the course of events leading up to, during,
        and after the 2016 United States presidential election. It enabled people to have a greater interaction with the
        political landscape, controversies, and news surrounding the candidates. Unlike traditional news platforms,
        such as newspapers, radio, and magazines, social media gave people the ability to comment below a candidate's
        advertisement, news surrounding the candidates, or articles regarding the policy of the candidates.
        It also allowed people to formulate their own opinions on public forums and sites and allowed for greater
        interaction among voters.The accessibility of information online enabled more voters to educate themselves
        on candidates' positions on issues, which in turn enabled them to form unique opinions on candidates and vote on
        those opinions, ultimately impacting the election's outcome."
        <br> <br>
    </p>

    <p>
        Social media is linked ultimately to internet usage as a connection is required in order to connect with
        other people and share thoughts and ideas that could influence the election results.
    </p>

    Sources:
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Social_media_in_the_2016_United_States_presidential_election" target="_blank">Wikipedia</a></li>
    </ul>
</div>